<%- include('../commons/header')  %>
<%- include('../commons/menu')  %>

<div class="container">
    <p class="lead">Artigo alterado!</p>
    <a class="btn btn-primary" href="/admin/artigos">Voltar</a>
</div>

<%- include('../commons/footer')  %>