<%- include('commons/header')  %>
<%- include('commons/menu')  %>

<div class="container">

    <p></p>
    <h2><a href="#">Título</a> <small>por autor</small></h2>
    <p><small>24 de Agosto de 2016, às 14:30:00</small></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe
        quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
    <hr>

    <h2><a href="#">Título</a> <small>por autor</small></h2>
    <p><small>24 de Agosto de 2016, às 14:30:00</small></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe
        quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
    <hr>

    <h2><a href="#">Título</a> <small>por autor</small></h2>
    <p><small>24 de Agosto de 2016, às 14:30:00</small></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe
        quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
    <hr>

    <h2><a href="#">Título</a> <small>por autor</small></h2>
    <p><small>24 de Agosto de 2016, às 14:30:00</small></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe
        quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
    <hr>

    <p><a href="#">Mais antigas</a> &#0149; <a href="#">Mais recentes</a></p>
</div>
<%- include('commons/footer')  %>
