<%- include('commons/header')  %>
<%- include('commons/menu')  %>

<div class="container">
    <h1>Login</h1>
    <p class="lead">Login inválido!</p>
    <a class="btn btn-primary" href="/login">Tente novamente</a>
</div>

<%- include('commons/footer')  %>