
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Blog com Node.js</span>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/articles">Artigos</a></li>
            <li><a href="/authors">Autores</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><%= usuario.name %></li>
            <% if(usuario.name == 'anonymous') {%>
                <li><a href="/login">Login</a></li>
            <% } else { %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>

    <% if(usuario.id != null ){%>
        <div class="container">
            <nav class="navbar navbar-primary">
                <div class="navbar-header">
                    <span class="navbar-brand">
                        Administração do blog
                    </span>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/admin/artigos">Artigos</a></li>
                    <% if(usuario.admin) {%>
                        <li><a href="/admin/autores">Autores</a></li>
                     <%}%>   
                </ul>
            </nav>
        </div>
    <%}%>
</nav>